.footer-container {
  min-height: 240px;
  width: 100%;
  background-color: #232473;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 479px) {
  .footer-container {
    font-size: 12px;
  }
}

.footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 32px 0;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .footer-container .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer-container .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479px) {
  .footer-container .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.footer-container .footer-content .logo-content,
.footer-container .footer-content .pages-content,
.footer-container .footer-content .adress-content,
.footer-container .footer-content .href-content {
  height: 184px;
}

.footer-container .footer-content .logo-content,
.footer-container .footer-content .adress-content {
  width: 280px;
  color: darkgray;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container .footer-content .logo-content,
  .footer-container .footer-content .adress-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer-container .footer-content .logo-content,
  .footer-container .footer-content .adress-content {
    width: 380px;
    height: 154px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 479px) {
  .footer-container .footer-content .logo-content,
  .footer-container .footer-content .adress-content {
    width: 100%;
    height: 134px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer-container .footer-content .logo-content .logo-info {
  padding-top: 24px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer-container .footer-content .logo-content .logo-info {
    padding-top: 12px;
  }
}

@media (max-width: 479px) {
  .footer-container .footer-content .logo-content .logo-info {
    padding-top: 12px;
  }
}

@media (max-width: 479px) {
  .footer-container .footer-content .logo-content .logo-image img {
    height: 30px;
  }
}

@media (max-width: 479px) {
  .footer-container .footer-content .adress-content {
    margin-bottom: 10px;
    height: 100%;
  }
}

.footer-container .footer-content .pages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 384px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer-container .footer-content .pages-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-bottom: 32px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer-container .footer-content .pages-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-bottom: 32px;
  }
}

@media (max-width: 479px) {
  .footer-container .footer-content .pages-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-bottom: 32px;
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
    font-size: 14px;
  }
}

.footer-container .footer-content .pages-content .href-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-container .footer-content .pages-content .href-content a {
  color: white;
}

.footer-container .footer-content .pages-content .href-content a:hover {
  text-decoration: underline;
}

.footer-container .footer-content .socials .socials-head {
  margin-top: 24px;
  color: white;
}

.footer-container .footer-content .socials .socials-icons i {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #3951E7;
  text-align: center;
  color: white;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 8px 8px 0 0;
}

.footer-container .footer-content .socials .socials-icons i:hover {
  background-color: #0f1f80;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/*# sourceMappingURL=Footer.css.map */