@import "variables/master";

.bottom-container {
  width: 100%;
  background-color: $footer-bottom-color;

  .bottom-text {
    height: 40px;
    font-family: $prime-font;
    font-weight: 400;
    font-size: $s-font;
    color: darkgray;
    @include default-flex($justify: $justify-between);

    @media (min-width: 480px) and (max-width: 767px) {
      font-size: $xs-font;
    }

    @media (max-width: 479px) {
      font-size: $xs-font;
      padding: 10px;
      height: 100px;
      text-align: center;
    }
  }
}
