@import "variables/master";

.head-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/head-backgroung.png");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 610px;
  width: 100%;

  .top-header {
    height: 40px;
    width: 100%;
    padding: 0 40px;
    @include default-flex($justify: $justify-between);

    .organisation-logo {
      cursor: pointer;
    }

    .language-switch {
      cursor: pointer;

      .language-name {
        margin-right: 8px;
      }
    }
  }

  .slider-header {
    margin-top: 126px;
  }
}


