@import "variables/master";

.modal-window {
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  @include default-flex();
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  overflow: auto;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal__content {
  border-radius: 12px;
  background-color: white;
  width: 50vw;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 550px;
  height: 700px;

  .cross {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    height: 100vh;
  }

  &.active {
    transform: scale(1);
  }
}
