.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 80px 0px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 479px) {
  .news-container {
    padding: 10px;
  }
}

.news-container .news-header {
  font-weight: 700;
  font-size: 40px;
  color: black;
  line-height: 40px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .news-container .news-header {
    font-size: 32px;
  }
}

@media (max-width: 479px) {
  .news-container .news-header {
    font-size: 18px;
    text-align: center;
  }
}

.news-container .news-carde-container {
  font-weight: 600;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .news-container .news-carde-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 479px) {
  .news-container .news-carde-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news-container .news-carde-container .news-carde {
  width: 384px;
  height: 448px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  overflow: hidden;
  margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news-container .news-carde-container .news-carde {
    width: 284px;
    height: 348px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .news-container .news-carde-container .news-carde {
    width: 184px;
    height: 248px;
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .news-container .news-carde-container .news-carde {
    width: 248px;
    height: 348px;
  }
}

.news-container .news-carde-container .news-carde:hover .carde-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.news-container .news-carde-container .news-carde .carde-img {
  height: 50%;
  width: 100%;
}

.news-container .news-carde-container .news-carde .carde-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-container .news-carde-container .news-carde .carde-info {
  padding: 32px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news-container .news-carde-container .news-carde .carde-info {
    padding: 16px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .news-container .news-carde-container .news-carde .carde-info {
    padding: 4px;
  }
}

@media (max-width: 479px) {
  .news-container .news-carde-container .news-carde .carde-info {
    padding: 16px;
  }
}

.news-container .news-carde-container .news-carde .carde-info .carde-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 16px;
  color: #6a6a6a;
  font-size: 12px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .news-container .news-carde-container .news-carde .carde-info .carde-header {
    margin-bottom: 4px;
  }
}

.news-container .news-carde-container .news-carde .carde-info .carde-header a i {
  margin-right: 8px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .news-container .news-carde-container .news-carde .carde-info .carde-header a i {
    margin-right: 4px;
  }
}

.news-container .news-carde-container .news-carde .carde-info .carde-text {
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .news-container .news-carde-container .news-carde .carde-info .carde-text {
    font-size: 12px;
    padding: 0px 8px;
  }
}

@media (max-width: 479px) {
  .news-container .news-carde-container .news-carde .carde-info .carde-text {
    font-size: 12px;
  }
}

.news-container .news-carde-container .news-carde .carde-info .carde-text .carde-text__preview {
  height: 126px;
  overflow: hidden;
}

.news-container .news-carde-container .news-carde .carde-info .carde-text .carde-text__preview:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*# sourceMappingURL=News.css.map */