@import 'variables/master';

.slider {
  display: flex;
  position: relative;
  height: 442px;
  text-shadow: 1px 1px 1px black;

  .slider-prev,
  .slider-next {
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
      position: absolute;
      font-size: 40px;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: grey;
        transition: all 0.2s ease-in;
      }

      &:active {
        color: darkgray;
        transition: all 0.2s ease-in;
      }
    }
  }

  .slider-prev {
    i {
      left: -72px;
    }
  }

  .slider-next {
    i {
      right: -72px;
    }
  }

  .slider-card {
    @include default-flex($direction: $direction-column, $al-it: $al-it-baseline);

    .slider-card-header {
      h1 {
        font-size: $xxxl-font;
        color: #fff;
        font-weight: bold;
      }
    }

    .slider-card-content {
      p {
        width: 700px;
        font-size: $l-font;
        color: #fff;
        font-weight: 600;
        margin-top: 32px;
        margin-bottom: 24px;
        line-height: $m-line-height;
      }
    }

    .slider-button {
      .btn {
        background-color: $prime-color;
        box-shadow: 1px 1px 1px black;

        p {
          font-size: $m-font;
          color: whitesmoke;
        }

        &:hover {
          background-color: #5a051d;
        }

        &:active {
          background-color: #1f010a;
        }
      }
    }
  }
}
