$prime-font: "Open Sans", sans-serif;
$prime-color: #F21F5B;
$form-btn: #3951E7;
$footer-color: #232473;
$footer-bottom-color: #1A1B57;

$xs-font: 12px;
$s-font: 14px;
$m-font: 16px;
$l-font: 18px;
$xl-font: 32px;
$xxl-font: 40px;
$xxxl-font: 56px;

$base-padding: 32px;

$flex-inline: inline-flex;
$justify-between: space-between;
$justify-around: space-around;
$justify-start: flex-start;
$direction-column: column;
$al-it-baseline: baseline;
$wrap-wrap: wrap;

$s-line-height: 24px;
$m-line-height: 32px;

@mixin default-flex($flex-type: flex, $justify: center, $direction: row, $al-it: center, $wrap: nowrap) {
  display: $flex-type;
  justify-content: $justify;
  align-items: $al-it;
  flex-direction: $direction;
  flex-wrap: $wrap;
}