@import 'components/styles/variables/master';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $prime-font;

  a {
    text-decoration: none;
    color: inherit;
  }
  
  .btn {
    height: 48px;
    border-radius: 50px;
    cursor: pointer;
    border: none;

    .btn-content {
      margin: 8px 24px;
    }

    &:hover {
      transition: all .2s ease-in;
    }

    &:active {
      transition: all .2s ease-in;
    }

  }


  // .container {
  //   background-image: url("components/styles/img/head-backgroung.png");
  //   background-position: center center;
  //   background-attachment: fixed;
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  //   height: 610px;
  //   width: 100%;

    // .bord {
    //   height: 100%;
    //   margin-top: 10px;
    //   .bar {
    //     height: 50px;
    //     width: 100%;
    //     border: 2px solid black;
    //     background-color: red;
    //     position: sticky;
    //     top: 0px;
    //   }
    // }
    // }
    .wrapper {
      width: 1200px;
      margin: 0 auto;
      height: 100%;
      
      @media (min-width: 1201px) and(max-width: 1300px) {
        width: 1000px;
      }
      
      @media (min-width: 1024px) and(max-width: 1200px) {
        width: 800px;
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        width: 600px;
      }

      @media (min-width: 480px) and (max-width: 767px) {
        width: 400px;
      }

      @media (max-width: 479px) {
        width: 100%;
      }

      // @media (min-width: 320px) and (max-width: 479px) {
      //   width: 100%;
      // }

      // @media (max-width: 319px) {
      //   width: 100%;
      // }
    }
}

